# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# use mw/log stub implementation by default
common --@score-baselibs//score/mw/log/detail/flags:KUse_Stub_Implementation_Only=True
common --@score-baselibs//score/json:base_library=nlohmann
common --//score/mw/com/flags:tracing_library=stub
common --extra_toolchains=@gcc_toolchain//:host_gcc_12
build --incompatible_strict_action_env
test --test_tag_filters=-manual

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/refs/heads/main/
common --registry=https://bcr.bazel.build
