# *******************************************************************************
# Copyright (c) 2026 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

---
# Basic clang-tidy configuration for SCORE Communication project
# NOTE: the set of enabled checks is yet subject to be tailored for the S-CORE project
Checks: >
  -*,
  clang-analyzer-*,
  cert-*,
  cppcoreguidelines-*,
  bugprone-*,
  misc-*,
  performance-*,
  readability-*,
  modernize-*

# Only treat critical checks as errors, others are warnings
# NOTE: the `WarningsAsErrors` property is yet subject to be tailored for the enabled checks
WarningsAsErrors: >
  clang-analyzer-*,

# Exclude third-party and external dependencies' headers from analysis
HeaderFilterRegex: '^(?!.*/third_party/).*'

FormatStyle: file

# NOTE: all `CheckOptions` are yet subject to be provided for each enabled check
#CheckOptions:
# none yet
