bazel-*
examples/bazel-*
MODULE.bazel.lock
user.bazelrc
.clwb_aspects
.clwb
# ignore folders created by IDEs
.vscode
.idea
# Ignore clangd's config
.clangd

# Compilation databases for code completion in IDEs
.cache/*
compile_commands.json
rust-project.json
