# *******************************************************************************
# Copyright (c) 2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Python dependencies for integration testing framework
-r ./quality/integration_testing/requirements.txt

# Python dependencies for documentation generation
breathe
sphinx_rtd_theme
sphinx_design
sphinx_needs
sphinxcontrib_plantuml
pydata_sphinx_theme
myst_parser

# Python dependencies for coverage report generation (QNX)
gcovr

# Fix security issues by forcing versions of transitive dependencies to a recent enough release
idna>=3.15
Pygments>=2.20.0
requests>=2.33.0
urllib3>=2.7.0
