# *******************************************************************************
# Copyright (c) 2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

# Workflow configuration for S-CORE CI - Bazel Build & Test communication module
# This workflow runs Bazel test with enabled thread sanitizer when triggered by specific pull request events.

name: Test communication module with thread sanitizer
on:
  pull_request:
    types: [opened, reopened, synchronize]
  merge_group:
    types: [checks_requested]
  release:
    types: [created]
jobs:
    build_and_test_tsan:
      # Starting with Ubuntu 24.04 apparmor breaks Bazels linux-sandbox: https://github.com/bazelbuild/bazel/issues/24081
      runs-on: ubuntu-22.04
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4.2.2
        - name: Free Disk Space (Ubuntu)
          uses: ./actions/free_disk_space
        - uses: bazel-contrib/setup-bazel@0.15.0
          with:
            bazelisk-cache: true
            disk-cache: ${{ github.workflow }}
            repository-cache: true
        - name: Bazel test communication targets with thread sanitizer
          run: |
            bazel test --config=tsan //... --build_tests_only
